<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое изделие</title>
</head>
<body>
<form th:method="POST" th:action="@{/product/addProduct}">
    <label for="name">Название: </label>
    <input name="name" type="text" id="name"/>
    <br/>
    <label>Инструмент: </label>
    <select name="toolId">
        <option th:each="tool : ${tools}"
                th:value="${tool.getId()}" th:text="${tool.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Добавить изделие">
</form>
<a href="/">Главная</a>
</body>
</html>