<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список изделий</title>
</head>
<body>
<div>
    <tr>
        <td>Название</td>
        <td>Подробнее</td>
    </tr>
    <br/>
    <tr th:each="product : ${products}">
        <td th:text="${product.getName()}" ></td>
        <td>
            <a th:href="@{/product/products/{id}(id=${product.getId()})}">Смотреть</a>
        </td>
        <br/>
    </tr>
</div>
<a href="/product/addProduct">Добавить новое изделие</a>
<br/>
<a href="/">Главная</a>
</body>
</html>