<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление дополнительными свойствами</title>
</head>
<body>
<form th:method="POST" th:action="@{/property/deleteToolFunction}">
    <label>Группа: </label>
    <select name="id">
        <option th:each="toolFunction : ${toolFunctions}"
                th:value="${toolFunction.getId()}" th:text="${toolFunction.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Удалить тип">
</form>
<br/>
<form th:method="POST" th:action="@{/property/deleteProducer}">
    <label>Производитель: </label>
    <select name="id">
        <option th:each="producer : ${producers}"
                th:value="${producer.getId()}" th:text="${producer.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Удалить производителя">
</form>
<br/>
<a href="/property/showToolProperties">Назад</a>
</body>
</html>