<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список производителей и типов инструментов</title>
    <link rel="stylesheet" type="text/css"
          href="/css/web.css">
</head>
<body>
<table>
    <tr>
        <td><p>Типы</p>
            <div class="scroll-table">
                <div class="scroll-table-body">
                    <table>
                        <tr th:each="toolFunction : ${toolFunctions}">
                            <td th:text="${toolFunction.getName()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        <td><p>Производители</p>
            <div class="scroll-table">
                <div class="scroll-table-body">
                    <table>
                        <tr th:each="producer : ${producers}">
                            <td th:text="${producer.getName()}"></td>
                        </tr>
                    </table>
                </div>
            </div></td>
    </tr>
</table>
<br/>
<a href="/property/addToolProperties">Добавить</a>
<br/>
<a href="/property/deleteToolProperty">Удалить</a>
</body>
<br/>
<a href="/">Назад</a>
</html>