<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый инструмент</title>
</head>
<body>
<form th:method="POST" th:action="@{/addCuttingTool}">
    <label for="name">Название: </label>
    <input name="name" type="text" id="name"/>
    <br/>
    <label>Группа: </label>
    <select name="group">
        <option th:each="group : ${groups}"
                th:value="${group.getId()}" th:text="${group.getName()}">
        </option>
    </select>
    <br/>
    <label>Производитель: </label>
    <select name="producer">
        <option th:each="producer : ${producers}"
                th:value="${producer.getId()}" th:text="${producer.getName()}">
        </option>
    </select>
    <br/>
    <label for="price">Цена: </label>
    <input name="price" type="number" step="any" id="price"/>
    <br/>
    <label for="quantity">Количество: </label>
    <input name="quantity" type="number" step="1." id="quantity"/>
    <br/>
    <input type="submit" value="Добавить инструмент">
</form>
<a href="/show">Назад</a>
</body>
</html>