<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Cutting Tool</title>
</head>
<body>
<form th:method="POST" th:action="@{/addCuttingTool}">
    <label for="name">Name: </label>
    <input name="name" type="text" id="name"/>
    <br/>
    <label>Producer: </label>
    <select name="producer">
        <option th:each="producerOpt : ${T(com.toolsapp.models.instrument.Producer).values()}"
                th:value="${producerOpt}" th:text="${producerOpt.getName}">
        </option>
    </select>
    <br/>
    <label for="price">Price: </label>
    <input name="price" type="number" step="any" id="price"/>
    <br/>
    <label for="quantity">Quantity: </label>
    <input name="quantity" type="number" step="1." id="quantity"/>
    <br/>
    <input type="submit" value="Add Tool">
</form>
<a href="/show">Back</a>
</body>
</html>