<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/give}">
    <label>Наименование: </label>
    <select name="tool">
        <option th:each="tool : ${tools}"
                th:value="${tool}" th:text="${tool.getName()}">
        </option>
    </select>
    <br/>
    <label for="quantity">Количество: </label>
    <input name="quantity" type="number" step="1." id="quantity"/>
    <br/>
    <label>Рабочий: </label>
    <select name="worker">
        <option th:each="worker : ${workers}"
                th:value="${worker}" th:text="${worker.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Выдать">
</form>
</body>
</html>