<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instrument List</title>
</head>
<body>
<div>
    <tr>
        <td>Наименование</td>
        <td>Производитель</td>
        <td>Количество на складе</td>
        <td>Количество в работе</td>
        <br/>
    </tr>
    <tr th:each="tool : ${tools}">
        <td th:text="${tool.getName()}" ></td>
        <td th:text="${tool.getProducer().getName()}"></td>
        <td th:text="${tool.getQuantity()}"></td>
        <td th:text="${tool.getQuantityInUse()}"></td>
        <br/>
    </tr>
</div>
<a href="/addCuttingTool">Добавить новый инструмент</a>
<br/>
<a href="/give">Выдать</a>
<br/>
<a href="/worker/workerList">Смотреть по рабочим</a>
<br/>
<a href="/delete">Удалить инструмент из базы</a>
<br/>
<a href="/">Главная</a>
</body>
</html>