<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список инструмента</title>
    <link rel="stylesheet" type="text/css"
          href="/css/web.css">
</head>
<body>
<h1>Список инструмента</h1>
<div class="scroll-table">
    <table>
        <thead>
            <tr>
                <td>Наименование</td>
                <td>Производитель</td>
                <td>Группа</td>
                <td>Количество на складе</td>
                <td>Количество в работе</td>
                <br/>
            </tr>
        </thead>
    </table>
    <div class="scroll-table-body">
        <table>
            <tr th:each="tool : ${tools}">
                <td th:text="${tool.getName()}" ></td>
                <td th:text="${tool.getProducer().getName()}"></td>
                <td th:text="${tool.getToolFunction().getName()}"></td>
                <td th:text="${tool.getQuantity()}"></td>
<!--                <td th:text="${tool.getQuantityInUse()}"></td>-->
            </tr>
        </table>
    </div>
</div>
<table>
<tr>
    <td>
        <div>
        <a href="/tool/supportTool/add">Создать новый вспомогательный инструмент</a>
        <br/>
        <a href="/tool/cuttingTool/add">Создать новый режущий инструмент</a>
        <br/>
        <a href="/tool/measuringTool/add">Создать новый мерительный инструмент</a>
        <br/>
        </div>
    </td>
    <td>
        <div>
        <a href="/tool/supportTool/give">Выдать вспомогательный инструмент</a>
        <br/>
        <a href="/tool/cuttingTool/give">Выдать режущий иснструмент</a>
        <br/>
        <a href="/tool/measuringTool/give">Выдать мерительный инструмент</a>
        <br/>
        </div>
    </td>
<tr/>
</table>
<a href="/worker/workerList">Смотреть по рабочим</a>
<br/>
<a href="/tool/delete">Удалить инструмент из базы</a>
<br/>

<a href="/">Главная</a>
</body>
</html>